{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer {% endblock %}</h1>

    <body>
        <blockquote class="blockquote blockquote--bordered">
            <p class="blockquote_text">
                "Setting goals is the first step in turning the invisible into the visible."
            <p class="blockquote_text blockquote_text_author">
                Tony Robbins
            </p>
        </blockquote>

    
    <p>Day 14 - (10/10/2023)</p>

    <p>With flourishing Technology and AI, we are into doing so many things, turning all the impossible to possible.</p>
    
    <p>But there are some things that help me wonder, can anything be achieved with AI? How about going to the other persons location through a video call? or how about experiencing a whole new world like they do in Avatar (the movie), without actually traveling there but with just mere consciousness?</p>
    <p>If this ever comes true, my mom will be the happiest! She always wanted to do something like that so she could come to my place and cook food for me.</p>

    <p>That's sweet right? *awwww*</p>

    <p>I woke up today with a dream lingering in my thoughts. It was a very vague and an uncomfortable feeling, which means my dream was just dull. I recall getting up and moving around like a zombie, because I did not like the fact about how weird I felt because I didn't like my dream and it put my entire mood to sogginess.</p>

    <p>I dreamt about attending a friend's wedding and I seriously have no idea why this made me uncomfortable instead of where I should be rejoicing for my friend getting married. It is a Happy Occasion!</p>
    <p>I was pouring my milk when my I thought about wanting to check the meaning of my dream on the internet and I googled. </p>

    <p>Instantly, something caught my eye. A blog post was written about interpreting dreams by a Dream Analyst.</p>

    <p>Did I read that right? We have someone called a <span style="color: red;" >Dream Analyst?</span></p>

    <p>I guess so. *sigh*</p>

    <p>To my unknown knowledge, I found out that a Dream Analyst is basically someone with psychology background, interpreting people's dreams.</p>

    <p>How insane is that?</p>

    <p>I have heard about financial analysts, risk analysts, clinical data analysts and never in a million years, I thought I would come to something like this.</p>
    
    <p>I couldn't believe it and I was flabbergasted.</p>

    <p>However, I understood that our dreams are also a data, to be analysed, interpreted, visualised and concluded with an output.</p>
    
    <p>I did not stop there, I went further down the line to see if there were any Dream Datasets that were used for analysis.</p>
    
    <p>And you know what? I did find a dataset.</p>

    <p>Check it out at - <a href="https://sleepanddreamdatabase.org/">https://sleepanddreamdatabase.org/</a>

    <p>You can share and read other people's dreams in this website. You have the proficiency of choosing different categories of Dreams.</p>
    
    <p>How cool is this?</p>

    <p>*Mind Blowing*</p>

    <p>Now, I don't really know the logic behind a psychologist/dream analyst interpreting a dream but with my eyes always based on looking at data, I believed I could bring out the possible ways to interpret a dream in a data scientist/data analyst POV. </p>
    
    <p>So, can Data Science now really be used for dreams as well?</p>

    <p>It looks like it can *woah*</p>

    <p>There are infact research going on, for using machine learning algorithms to analyse Dreams and its scientific validity and practical applications are subject to ongoing debate. Nonetheless, it can be a valuable tool for individuals interested in self-reflection and introspection, especially when combined with qualitative expertise in psychology or therapy.</p>

    <h5>Data Collection</h5>

    <li>Encouraging an individual to document certain dreams that occur regularly in a structured format (like dream journaling/ digital recording) can be used as a dataset.</li>
    <li>Example of a structured format - <span style="color: red;">date, time of the dream, key events, characters, emotions, and any recurring symbols.</span> </li>
    
    <br><h5>Data Preprocessing</h5>

    <li>Assigning categories or tags to the dreams based on common themes, emotions, or symbols is an example of Data Categorization. This way, it would be easier for classification.</li>
    
    <br><h5>Descriptive Statistics</h5>

    <li>Calculate basic descriptive statistics such as the frequency of recurring symbols, the distribution of emotions, and the time of day when dreams are recorded.</li>
    
    <br><h5>Sentiment Analysis</h5>

    <li>The existence of NLP can be used to analyse the dreams, breaking it down and finding out the sentiment of the dream - (Positive/Negative)</li>
    
    <br><h5>Machine Learning and Pattern Recognition</h5>

    <li>Applying machine learning algorithms to identify patterns or associations between specific elements in dreams.</li>

    <br><h5>Cluster Analysis</h5>
    
    <li>Exploring relationships between dreams within clusters to uncover patterns.</li>

    <br><h5>Visualization</h5>

    <li>Creating word clouds to visually represent the most frequently occurring words or themes in dreams.</li>

   <br> <p>As I am writing this, I still feel this idea is so weird.</p>

    <p><span style="color: green;">P.S - It's important to note that dreams are highly subjective, and their meaning can vary widely among individuals.</span></p>

    <footer>
        <p>Copyright © 2023 Data Whisperer</p>
      </footer>

    </body>

{% endblock %} 
