{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer {% endblock %}</h1>

    <body>
        <blockquote class="blockquote blockquote--bordered">
            <p class="blockquote_text">
                "I have learned not to allow rejection to move me."
            <p class="blockquote_text blockquote_text_author">
                Cicely Tyson
            </p>
        </blockquote>

        <h3>What can I make of 'Negative Correlation'? - Day 20</h3>

        <p>The word 'Negativity' is highly ominous. It is portrayed as malicious and evil; something that only bad spirits wrap around themselves in.</p>

        <p>I totally agree that negativity is not something to be happy about, and it occurs with a disappointing result but, have we ever thought about how a negative result can actually be valid and provide a meaningful insight?</p>

        <p>Why is it that if we incur something negative, we do not want to deal with it? Why do we hate it so much that we don't want to accept its hidden insight and work towards it?</p>
    
        <p>The answer is pretty simple. We do not want to feel uncomfotable by stepping out our comfort zones and facing something anomalous.</p>
    
        <p>Because, we are accustomed to a way of living. It is basic human psychology.</p>

        <p>However, it is very important to perceive and empathisize that a result is a result irrespective of its nature (positive/negative), and it has occured because there has been an execution.</p>
    
        <p>Today, I am writing in here after a very long time.</p>

        <p>I had to take a break because I was involved with something in my life.</p>

        <p>and looking into my LinkedIn analytics, I saw a weird result.</p>

        <p>Despite the inactivity, my eyes caught the increase in profile and post impressions.</p>

        <p>You read that right! It did go up instead of going down exponentially (which is what I expected to happen)</p>
        <p>It went up by 51.1%</p>
    
        <p>And you know what? It bothered me.</p>

        <p>So, I did a little dig up and found that this is 'Negative Correlation'.</p>

        <p>Posts ⬇ Impressions ⬆ </p>

        <p>This is what we term as 'NEGATIVE CORRELATION'</p>

        <p>It is a relationship between two variables in which they tend to move in opposite directions. When one variable increases, the other variable decreases, and vice versa. In other words, there is an inverse relationship between the two variables.</p>
    
        <p>With this in mind, I want to highlight a few good things about being negatively correlated.</p>

        <h5>Understanding Relationships</h5>
        <li>Despite its nature, it is anyways vital to observe the relationship. With knowing a certain relationship is negative, then with atmost means, the variables will never be associated with each other.</li>
    
        <br>
        <h5>Predictive Power</h5>
        <li>Knowing that two variables have a negative correlation allows for better predictions. If you observe a negative correlation between high outdoor temperatures and ice cream sales, you can predict that ice cream sales will tend to decrease on colder days. This predictive power is valuable in various fields, including business, finance, and climate science.</li>
       
        <br>
        <h5>Risk Management</h5>
        <li>In finance, negative correlations between different assets or investments can be advantageous. When some investments decline in value, others may increase, helping to diversify risk. This concept is a foundation of modern portfolio theory, which aims to balance risk and return through asset allocation.</li>
        
        <br>
        <h5>Optimization</h5>
        <li> In various industries, understanding negative correlations helps optimize processes and resources. For example, in supply chain management, there might be a negative correlation between transportation costs and order quantity. Recognizing this can lead to cost savings by optimizing order sizes.</li>
        
        <br>
        <h5>Avoiding Misinterpretation</h5>
        <li>Without considering negative correlations, one might jump to incorrect conclusions. For instance, if there's a negative correlation between the number of lifeguards at a beach and the number of drowning incidents, it doesn't mean fewer lifeguards are causing more drownings. It may simply reflect that more lifeguards are deployed when there's a higher risk of drowning.</li>
        
        <br>
        <h5>Quality Improvement</h5>
        <li>In manufacturing and quality control, identifying negative correlations can help pinpoint factors contributing to defects or issues. Addressing these factors can lead to process improvements and higher product quality.</li>
        
        <br>
        <p>In summary, negative correlation matters because it enriches our understanding of data, aids in prediction and decision-making, manages risk, and contributes to advancements in various fields. Recognizing and interpreting negative correlations is an essential skill in data analysis and research.</p>
        
        
        
        
        <footer>
        <p>Copyright © 2023 Data Whisperer</p>
      </footer>

    </body>

{% endblock %} 
