{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer {% endblock %}</h1>

    <p>I just had a mind-blowing moment.</p>

    <p>My face literally looked something like this - 😵, the entire time I was watching the videos released by Google and Google DeepMind on Gemini.</p>

    <p>The first thing that really appealed to me to want to learn more about it is the name. (I am a Gemini)</p>

    <p>I spent 30-40 minutes going through all the videos and learning about Gemini and I am telling you, I was awestruck. </p>

    <p>It felt like watching the movie 'Inception' for the first time when I still remember I didn't know what to think or feel about the entire concept after the movie ended. I felt a void, a pause; my brain processed every detail it observed, but comprehended only 1/4th.</p>
    
    <p>Today, I am mentioning some of the things I really liked and found interesting about the things Gemini can do.</p>
    
    <p>▶  Understanding Environments</p>

    <p>In this test, Gemini can make sense of its surroundings and environment by deciding where houseplants might receive the most sunlight. </p>
    
    <p>Link: https://lnkd.in/e2mNH2HU</p>

    <p>▶ Reasoning about user intent to generate bespoke experiences</p>

    <p>With the prompt 'Can you help me decide about birthday party themes for my child', Gemini designs and builds visually rich interactive experiences that go beyond chat interfaces and best display different types of information. </p>
    
    <p>Link: https://lnkd.in/eJdqm49E</p>
    
    <p>▶ Processing raw audio</p>

    <p>If you do not know how to make an omelet, then seek help from Gemini, because it can understand audio in different languages, from multiple speakers and combine vision, audio, and text to offer a helping hand while cooking in the kitchen.</p>
    
    <p>Link: https://lnkd.in/eeiKufRP</p>
    
    <p>▶ Explaining Reasoning with Math and Physics</p>
    
    <p>Gemini not only takes care of the kitchen, event-planning, or the living room. It can also make sure it helps with homework as it understands nuanced information and can answer questions relating to complicated topics which makes it especially good at explaining reasoning in complex subjects like math and physics.</p>
    
    <p>Link: https://lnkd.in/emADxx8P</p>

    <p>▶ Unlocking insights in the scientific literature</p>

    <p>I wish I had Gemini's help when I spent days trying to extract insights and data from research papers that were 20 pages long. Because, we just found out that Gemini was able to read, understand and filter 200,000 scientific papers to extract crucial scientific information. All in a lunch break. </p>
    
    <p>Link: https://lnkd.in/eGyAh7Yk</p>

    <p>The list is big, but these are my top 5 favs 😍</p>
    
    
    
    <footer>
        <p>Copyright © 2023 Data Whisperer</p>
      </footer>

    </body>

{% endblock %} 
