{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer {% endblock %}</h1>

    <body>
        <div class="quote"><h3>"I am a Tech-savvy storyteller: Weaving data threads into compelling narratives, illuminating insights that drive success."</h3></div>
        <div class="whoamI">

            <h4>How I started with Data?</h4>
        </div>

        <div class="intro">
            My passion and interest towards AI came along when I was in my third year of undergraduate where I was able to concentrate 100% in the AI class which made me wonder what is so fascinating about it. I dug deep into it and discovered that I could do so many things with data, which kind of created a fire in me. I started researching more about how I can land in a field where I get to deal with data with my own hands, playing however I want to. Little steps like my academic choice, learning from online courses, and hands-on experience in internships and projects have made me quite proficient with data analysis, transformation, and manipulation. I have always believed that data is like gold, it is so malleable that it can be converted to any form and the insights gained from this are as valuable as gold is. It is just so influential. 
        </div>

        <div class="moreintro">
        I graduated from Saint Louis University, in MS AI. People usually say AI is hard but I believe the concept of AI is just so mindblowing.
        Isn't it just so awesome when non-living things are programmed to perform actions like a human being? 
        Stephen Hawking once said, "Success in creating effective AI, could be the biggest event in the history of our civilization. Or the worst. We just don't know. So we cannot know if we will be infinitely helped by AI, or ignored by it and side-lined, or conceivably destroyed by it."
        To follow this quote, I believe that AI has given us the foundation to make impossible happen. It has given us the perspective to dream about flying cars, walking and dancing robots and even performing surgeries without doctors.
    </div>
        <h4>and Guess What? All of this is not possible without DATA.</h4>

    <div class="data">
        This is why I wanted to document everything I understand about Data in a better and see my abilities of using data to perform various functions and tasks. 
        I totally believe with the idealogy that documentation is the bridge between ideas and reality. It has the ability to transform vision into tangible knowledge and share it with everyone.

    </div>

    <div class="image" >
        <img src="/static/images/vijay.jpg" alt="Trulli" width="400" height="350">
        
    </div>
    <div class="text">
     Hey Y’all, I am Vijay. Nice to meet
        everyone of you and Thank you for 
        taking the time to visit my page!
    </div>

{% endblock %} 