{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer {% endblock %}</h1>

    <body>

        <p>A big thank you to everyone stopping by this side, I hope you enjoyed it! *Winks*</p>
        
        <p>Now, if you don't want to stop here but are interested in talking to me (ofcourse it is going to be about data and work), *me being delulu*</p>

        <p>You are also welcome to discuss about your interests in the data world, a simple Hi?, or even maybe you want to rant about how data is complicating your life, please be free to contact me.</p>

        <p>I am a good listener</p>

        <p>I ALWAYS REPLY BACK!!</p>

        <p>Email: <a href="mailto:the.datawhisperer1@gmail.com">the.datawhisperer1@gmail.com</a></p>

        <p>LinkedIn: <a href="https://www.linkedin.com/in/vijay-varshini-ln/">@vijay-varshini-ln</a></p>

        <p>See Ya!</p>
    
    <footer>
        <p>Copyright © 2023 Data Whisperer</p>
      </footer>

    </body>

{% endblock %} 
