{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer {% endblock %}</h1>

    <body>

        <p>Hey Y'all,</p> 
            
            
        <p>As I am looking for job opportunities now, I am very much free most of the time, besides the time I apply for it. Hence, I decided to use this time to learn something every day. For now, I have taken on 30 days of challenge in being consistent. Whether it is something really small or a large content, I am going to imbibe it. </p>

        <p> They say, 'Small steps lead to success'. I see this as a beginning for me to excel and become a better version of myself. I hope this motivates other people who are just like me too. Learning is continuous.  Each time I go deep into a topic, I find myself immersed in it further, and I keep thinking that I will complete it but no, it doesn't end there. There is always a link to discover more (just like a linked list with infinite nodes), and can you believe it? the brain has the capacity to store everything that you have learned in life, and imagine when people say Albert Einstein just used 5% of his brain. 
            People like me probably used 0.4% of my brain in my 24 years of living. Isn't it amazing to see how much the human brain can work wonders? I remember my first day of coding~ I was in grade 8 when we were taken to the computer lab during the computer class and my teacher introduced the class to C programming. He said coding is how you communicate to the computers, in 0s and 1s. </p>

        <p>The only thing that was running in my mind during that class was me imagining this is what they do in movies when someone uses computers. 
            The individual types something fast inputs some data, and boom, you have some output. 
            This instantly made me love computers. </p>

        <p>My First Problem: Print 'Hello World' -> and this was the code I wrote.

            <p>#include<stdio.h> void main() </p>
                <p>{ printf("Hello World"); } </p>
                
           <p> and voila, my screen displayed "Hello World". </p>
    
            <p>I was so happy the day I discovered I was able to code just like those actors in the movies.</p>
    </p>

    <footer>
        <p>Copyright © 2023 Data Whisperer</p>
      </footer>

    </body>

{% endblock %} 