{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer 
        {% endblock %}</h1>

        <div class="blogposts" id="blogwritings">
            <ul class="listofblogs">
            <li class="nav-item active">
                    <a class="nav-link" href="/firstblog">30 Days of Consistency~</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/day1">Cutting the Cake only 5 times!!! - Day 1</a>
            </li>
            </ul>
        </div>
{% endblock %}