{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer 
        {% endblock %}</h1>

        <div class="blogposts" id="blogwritings">
            <ul class="listofblogs">
            <li class="nav-item active">
                    <a class="nav-link" href="/firstblog">30 Days of Consistency~</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/secondblog">Cutting the Cake only 5 times!!! - Day 1</a>

            </li><li class="nav-item active">
                <a class="nav-link" href="/thirdblog">SQL MESH? - Day 2</a>
            </li>
            </li><li class="nav-item active">
             <a class="nav-link" href="/fourthblog">The Magic of Pandas 2.0 - Day 3</a>
            </li>
        </li><li class="nav-item active">
            <a class="nav-link" href="/fifthblog">Analyzing my Job Applications and Pivot Tables - Day 4</a>
           </li>
        <li class="nav-item active">
            <a class="nav-link" href="/sixthblog">The courage to become a Machine Learning Engineer - Day 5</a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="/seventhblog">Fern Vs Bamboo - Day 6</a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="/eighthblog">Analysing my own LINKEDIN Page - Day 7</a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="/ninethblog">Extracting information from JSON structures - Day 8</a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="/tenthblog">Collocations(NLP) - Day 9</a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="/11thblog">Working out with Viterbi Algorithm - Day 10</a>
           </li>
           <li class="nav-item active">
            <a class="nav-link" href="/12thblog">Protein Secondary Structure prediction using VARNA</a>
           </li>
            </ul>
        </div>
{% endblock %}