{% extends 'base.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% block content %}
    <h1>{% block title %} Welcome to the Data Whisperer {% endblock %}</h1>

    <body>
        <blockquote class="blockquote blockquote--bordered">
            <p class="blockquote_text">
                "The only limit to our realization of tomorrow will be our doubts of today."
            </p>
            <p class="blockquote_text blockquote_text_author">
                Franklin D. Roosevelt
            </p>
        </blockquote>

        <p>Day 6 - (09/21/2023)</p>

        <p>Okay, so today is a little story time.</p>

        <p>I came across a youtube video that helped me realise that giving up is not an option. To be honest, I was kind of low today, thinking to give up.</p>


        <p>Just when I really wanted to give up, I heard this story and I thought I will share it with all of you today.</p>
    
        <p>The story is about a farmer who harvested two seeds - fern and bamboo. He planted them on the same day expecting that one day they will grow into big trees. </p>
    
        <p>He watered them everyday. He also gave them the necessary nutrients and proper sunlight. After a day, the fern plan started growing and he could see tiny seedlings pointing out.</p>
    
        <p>As days passed, with all the necessary actions everyday, he could see his fern plant growing. But, the bamboo had not even reacted. It was just how it was on the day he planted it.</p>
    
        <p>Years passed - and still the bamboo seed did not grow. The farmer did not give up on the bamboo yet. He kept watering it and giving the essential nutrients patiently.</p>

        <p>However, one day, the bamboo seed started showing up, and within 2 days, it grew to a large tree with strong roots. The farmer realised that the bamboo was taking its own time, growing and becoming strong before it sprouted.</p>
    
    
        <p>This allowed the bamboo to be evern stronger than the fern, withstanding any pressure because it had the strongest roots, and even the most aggresive wind couldn't break it off easily.</p>

        <p> Just like that, we need to understand that we are neither early, nor too late, we are just on time! If life is testing you with challenges remember that, you can always handle them!</p>
        
        <p>We just need to be a bit patient and keep doing what we can and the result will eventually follow!</p>
        
        <footer>
        <p>Copyright © 2023 Data Whisperer</p>
      </footer>

    </body>

{% endblock %} 